{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}

  <main class="container">
    <a href="index.html" class="voltar">← Catálogo</a>

    <!--
      No Django: data-* recebem campos de `product`. Ex.:
      data-id="{{ product.slug }}" data-price="{{ product.price }}" ...
    -->
   <div class="product-page"
         data-id="{{produto.slug}}"
         data-name="{{produto.titulo}}"
         data-price="{{produto.preco}}"
         data-image="{{produto.foto.url}}"
        
         data-category="Vestuário">
         
      <div class="gallery">
        <img src="{{produto.foto.url}}"/>
      </div>

      <div>
        <p class="eyebrow">Vestuário</p>
        <h1>{{produto.titulo}}</h1>
        <p class="price-big">R$ {{produto.preco}}</p>

        <p class="desc">
          {{produto.desc}}
        </p>

        <div class="variantes" data-variant-group>
          <p class="eyebrow" style="margin-bottom: 0.75rem;">Tamanho</p>
          <button type="button" data-variant="P"  >P</button>
          <button type="button" data-variant="M" >M</button>
          <button type="button" data-variant="G" >G</button>
          <button type="button" data-variant="GG" >GG</button>
          
        </div>

        <div class="qty-row">
          <span class="eyebrow">Quantidade</span>
          <div class="qty">
            <button type="button" data-qty="-1">−</button>
            <span data-qty-value>1</span>
            <button type="button" data-qty="1">+</button>
          </div>
        </div>

        <button type="button" class="add-btn" data-add-detail>Adicionar à sacola</button>

        <div class="detalhes">
          <p class="eyebrow" style="margin-bottom: 0.75rem;">Detalhes</p>
          <p>{{produto.detalhes}}</p>
        </div>
      </div>
    </div>
  </main>


{% endblock 'conteudo' %}